annotated-types==0.6.0
anyio==4.2.0
appdirs==1.4.4
beautifulsoup4==4.12.3
certifi==2023.11.17
charset-normalizer==3.3.2
click==8.1.7
cloudinary==1.38.0
colorama==0.4.6
dnspython==2.5.0
fastapi==0.109.0
frozendict==2.4.0
greenlet==3.0.3
h11==0.14.0
html5lib==1.1
idna==3.6
lxml==5.1.0
multitasking==0.0.11
numpy==1.26.3
pandas==2.2.0
peewee==3.17.0
pip==23.3.1
psycopg2==2.9.9
pydantic==2.5.3
pydantic_core==2.14.6
pymongo==4.6.1
python-dateutil==2.8.2
python-dotenv==1.0.1
pytz==2023.3.post1
requests==2.31.0
scipy==1.12.0
setuptools==68.2.2
six==1.16.0
sniffio==1.3.0
soupsieve==2.5
SQLAlchemy==2.0.25
starlette==0.35.1
typing_extensions==4.9.0
tzdata==2023.4
urllib3==2.1.0
uvicorn==0.27.0
webencodings==0.5.1
wheel==0.41.2
yfinance==0.2.36
